<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img-perfil.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Santiago Zarza Fiorino</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officia delectus, et saepe minima nisi ut odit laborum placeat! Quo eligendi est sapiente atque, autem nulla et quis minima delectus!</p>
        </span>
    </div>
</div>