<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo Uno</h1> - <h3>AÑOS</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic accusantium voluptatem iusto incidunt asperiores voluptatibus voluptas. Deleniti neque tempore, tempora mollitia dolorum corporis eum cumque ipsam molestias iure placeat ad!</p>
            <li>
                <h1>Trabajo Dos</h1> - <h3>AÑOS</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic accusantium voluptatem iusto incidunt asperiores voluptatibus voluptas. Deleniti neque tempore, tempora mollitia dolorum corporis eum cumque ipsam molestias iure placeat ad!</p>
            <li>
                <h1>Trabajo Tres</h1> - <h3>AÑOS</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic accusantium voluptatem iusto incidunt asperiores voluptatibus voluptas. Deleniti neque tempore, tempora mollitia dolorum corporis eum cumque ipsam molestias iure placeat ad!</p>
        </ul>
    </div>
</div>