
<div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="750" preserveAspectRatio="none" viewBox="0 0 1920 1080">
    <g mask="url(&quot;#SvgjsMask1848&quot;)" fill="none">
        <rect width="1920" height="1080" x="0" y="0" fill="rgba(0, 0, 0, 1)"></rect>
        <path d="M9 1080L1089 0L1924.5 0L844.5 1080z" fill="url(#SvgjsLinearGradient1849)"></path>
        <path d="M643.6 1080L1723.6 0L2221.6 0L1141.6 1080z" fill="url(#SvgjsLinearGradient1849)"></path>
        <path d="M1894 1080L814 0L-107 0L973 1080z" fill="url(#SvgjsLinearGradient1850)"></path>
        <path d="M1223.4 1080L143.4000000000001 0L-339.5999999999999 0L740.4000000000001 1080z" fill="url(#SvgjsLinearGradient1850)"></path>
        <path d="M1221.9356459487858 1080L1920 381.9356459487857L1920 1080z" fill="url(#SvgjsLinearGradient1849)"></path>
        <path d="M0 1080L698.0643540512143 1080L 0 381.9356459487857z" fill="url(#SvgjsLinearGradient1850)"></path>
    </g>
    <defs>
        <mask id="SvgjsMask1848">
            <rect width="1920" height="1080" fill="#ffffff"></rect>
        </mask>
        <linearGradient x1="0%" y1="100%" x2="100%" y2="0%" id="SvgjsLinearGradient1849">
            <stop stop-color="rgba(72, 26, 167, 0.66)" offset="0"></stop>
            <stop stop-opacity="0" stop-color="rgba(72, 26, 167, 0.66)" offset="0.66"></stop>
        </linearGradient>
        <linearGradient x1="100%" y1="100%" x2="0%" y2="0%" id="SvgjsLinearGradient1850">
            <stop stop-color="rgba(72, 26, 167, 0.66)" offset="0"></stop>
            <stop stop-opacity="0" stop-color="rgba(72, 26, 167, 0.66)" offset="0.66"></stop>
        </linearGradient>
    </defs>
</svg>
</div>
